{# templates/legal/cgu.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Conditions Générales d'Utilisation - Ecoride{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="mb-4">Conditions Générales d'Utilisation (CGU)</h1>

    <h2 class="h4 mt-4">Article 1 : Objet</h2>
    <p>Les présentes CGU ont pour objet de définir les modalités de mise à disposition des services du site Ecoride, ci-après nommé "le Service", et les conditions d'utilisation du Service par l'Utilisateur. Ce site est un projet fictif.</p>

    <h2 class="h4 mt-4">Article 2 : Accès au service</h2>
    <p>Le Service est accessible gratuitement à tout Utilisateur disposant d'un accès à internet. Tous les coûts afférents à l'accès au Service, que ce soient les frais matériels, logiciels ou d'accès à internet, sont exclusivement à la charge de l'utilisateur.</p>

    <h2 class="h4 mt-4">Article 3 : Inscription et espace personnel</h2>
    <p>Pour devenir membre, l'utilisateur doit être âgé d'au moins 18 ans et doit créer un compte en fournissant des informations exactes. L'utilisateur est responsable de la mise à jour de ses informations. Il est également responsable de la sécurité de son mot de passe.</p>

    <h2 class="h4 mt-4">Article 4 : Responsabilité de l'Utilisateur</h2>
    <p>L'Utilisateur est seul responsable des informations qu'il publie sur le site Ecoride. Il s'engage à ce que les informations publiées soient conformes aux lois et réglementations en vigueur. Ecoride ne pourra être tenu responsable des annonces publiées par les utilisateurs.</p>

    <h2 class="h4 mt-4">Article 5 : Responsabilité de l'Éditeur</h2>
    <p>Ecoride est une plateforme de mise en relation et ne peut être tenue responsable des incidents survenant lors d'un trajet (retards, annulations, accidents, etc.). La responsabilité de l'éditeur ne saurait être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.</p>
</div>
{% endblock %}