<div class="image-container position-relative">
    <img src="{{ asset('assets/img/image principale accueil.jpg') }}" alt="Paysage route" class="img-fluid w-100" />
    <div class="overlay-big-title position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50"></div>
    <div class="big-title position-absolute top-50 start-50 translate-middle text-light text-center px-3 w-100">
        <div class="container">
            <h1 class="big-title-text">
                Ensemble, réduisons notre impact carbone tout en faisant des économies et de belles rencontres sur la route
            </h1>
        </div>
    </div>
</div>

<div class="card rounded-0 search-bar bg-secondary shadow py-3">
    <div class="container text-center mb-3">
        <p class="search-title text-dark m-0">Trouvez votre covoiturage</p>
    </div>
    <div class="container">
        <div class="d-flex flex-column align-items-center">
            <div class="d-flex flex-wrap justify-content-center gap-2">

                <div class="input-group search-input-group">
                    <span class="input-group-text bg-info border border-primary search-icons rounded-start">
                        <i class="bi bi-geo-alt-fill text-dark"></i>
                    </span>
                    <select id="search-depart" name="depart" class="form-select border border-primary search-input mb-0" required data-search-carpool-target="searchDepartSelect">
                        <option value="">Départ</option>
                    </select>
                </div>

                <div class="input-group search-input-group">
                    <span class="input-group-text bg-info border border-primary search-icons rounded-start">
                        <i class="bi bi-flag-fill text-dark"></i>
                    </span>
                    <select id="search-arrivee" name="arrivee" class="form-select border border-primary search-input mb-0" required data-search-carpool-target="searchArriveeSelect">
                        <option value="">Destination</option>
                    </select>
                </div>

                <div class="input-group search-input-group">
                    <span class="input-group-text bg-info border border-primary search-icons rounded-start">
                        <i class="bi bi-calendar-event-fill text-dark"></i>
                    </span>
                    <input id="search-date" name="date" type="date" class="form-control border border-primary search-input mb-0" required data-search-carpool-target="searchDateInput">
                </div>

            </div>

            <button type="submit" class="btn btn-success search-button shadow-sm rounded-4 mt-3">Rechercher</button>
        </div>
    </div>
</div>