
    <!-- gros titre -->                    
    <div class="image-container position-relative">
        <img src="{{ asset('assets/img/image principale accueil.jpg') }}" alt="Paysage route" class="img-fluid w-100" />    
        <div class="overlay-big-title position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50"></div>
        <div class="big-title position-absolute top-50 start-50 translate-middle text-light text-center px-3 w-100">
            <div class="container">
                <h1 class="big-title-text">
                    Ensemble, réduisons notre impact carbone tout en faisant des économies et de belles rencontres sur la route
                </h1>
            </div>
        </div>
    </div>

    <!-- barre de recherche -->
        <div class="search-bar bg-secondary py-4">
            <div class="container text-center mb-2">
                <p class="search-title text-dark m-0">
                    Trouvez votre covoiturage
                </p>
            </div>
            <div class="container">
                <form class="d-flex flex-column align-items-center">
                    <div class="d-flex flex-wrap justify-content-center gap-1">
                        <input type="text" class="form-control search-input" placeholder="Départ">
                        <input type="text" class="form-control search-input" placeholder="Destination">
                        <input type="date" class="form-control search-input">
                    </div>            
                        <button type="submit" class="search-button btn btn-success btn-sm w-40 w-md-auto">Rechercher</button>
                </form>
            </div>
        </div>